*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #7c48f5, #af56e2);
}
header{
    padding: 50px;
    font-size: 22px;
    background: linear-gradient(to right, #af56e2,#7c48f5);
   
}
.reminder{
    font-size: 30px;
}
header span {
    margin-left: 10px;
}
header ul{
    float: right;
    list-style: none;
    
}
header ul li {
    display: inline-block;
    padding: 5 20;
    /* background-color: black; */
    
    transition: 0.8s;
   
}
/* header ul li:nth-child(1){
    background-color: black
} */
header ul li :hover{
    background-color: black;
    border-radius: 5px;
    padding: 5 5 5 5 ;
   
}
header span a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
header ul li a {
    color: rgb(246, 246, 248);
    text-decoration: none;
}
main{
    text-align: center;
    
}
.home-title{
    padding-top: 280px;
    font-size: 50px;
    color :black
}
main h1{
    padding-top: 50px;
    font-size: 30px;
    color :black
}
.contact-form{
    height: 100%;
    padding-top: 100px;
    width: 100%;
}
.field{
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#name{
    width: 80%;
    margin: auto;
}
#email{
    width: 80%;
    margin: auto;
}
#message{
    width: 80%;
    height: 100px;
    margin: auto;
}
main form ul li{
    
    padding-bottom: 20px;
}
main form ul li input{
    font-size: 20px;
    border-radius: 5px;
  
}
main p {
    border-bottom:2.2px solid black;
    width: 80%;
    margin: auto;
    padding-top: 10px;
    border-radius: 3px;
}
/*  */
@media (max-width :1770px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 110px;
    }
    .far{
        font-size: 110px;
    }
        
    header ul li {
        font-size: 100px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 200px;
           
    }
    main h1{
        font-size: 60px;
    }
        
}

@media (max-width :1577px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 110px;
    }
    .far{
        font-size: 110px;
    }
        
    header ul li {
        font-size: 100px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
    main h1{
        font-size: 55px;
    }
        
}
@media (max-width :1405px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 110px;
    }
    .far{
        font-size: 110px;
    }
        
    header ul li {
        font-size: 75px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
        
    main h1{
        font-size: 49px;
    }
}
@media (max-width :1120px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 70px;
    }
    .far{
        font-size: 70px;
    }
        
    header ul li {
        font-size: 55px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
    main h1{
        font-size: 42px;
    }    
}
@media (max-width :895px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 57px;
    }
    .far{
        font-size: 57px;
    }
        
    header ul li {
        font-size: 49px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
    main h1{
        font-size: 37px;
    }   
}
@media (max-width :824px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 53px;
    }
    .far{
        font-size: 53px;
    }
        
    header ul li {
        font-size: 40px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
    .field{
        width: 40%;
        margin: auto;
        padding-bottom: 20px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
        
}
@media (max-width :727px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 50px;
    }
    .far{
        font-size: 50px;
    }
        
    header ul li {
        font-size: 35px;
        padding-top: 40px;
        padding-left: 100px;
        padding-right: 70px;
           
    }
        
}
@media (max-width :668px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 40px;
    }
    .far{
        font-size: 40px;
    }
        
    header ul li {
        font-size: 28px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 5px;
           
    }
    main h1{
        font-size: 28px;
    }
        
}
@media (max-width :443px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 30px;
    }
    .far{
        font-size: 30px;
    }
        
    header ul li {
        font-size: 20px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 5px;
           
    }
    main h1{
        font-size: 22px;
    }
}
@media (max-width :363px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 22px;
    }
    .far{
        font-size: 22px;
    }
        
    header ul li {
        font-size: 17px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 5px;
           
    }
    #name{
        width: 100%;
        margin: auto;
    }
    #email{
        width: 100%;
        margin: auto;
    }
    #message{
        width: 100%;
        height: 100px;
        margin: auto;
    }
    main h1{
        font-size: 17px;
    }
        
}
@media (max-width :320px){
        
    header{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .title-page{
        margin: auto;
    }
    header span a{
        font-size: 15px;
    }
    .far{
        font-size: 15px;
    }
        
    header ul li {
        font-size: 10px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 5px;
           
    }
    #name{
        width: 100%;
        margin: auto;
    }
    #email{
        width: 100%;
        margin: auto;
    }
    #message{
        width: 100%;
        height: 100px;
        margin: auto;
    }
        
}