*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right, #7c48f5, #af56e2);
}
header{
    padding: 50px;
    font-size: 22px;
    background: linear-gradient(to right, #af56e2,#7c48f5);
   
}
.reminder{
    font-size: 30px;
}
header span {
    margin-left: 10px;
}
header ul{
    float: right;
    list-style: none;
    
}
header ul li {
    display: inline-block;
    padding: 5 20;
    /* background-color: black; */
    
    transition: 0.8s;
   
}
/* header ul li:nth-child(1){
    background-color: black
} */
header ul li :hover{
    background-color: black;
    border-radius: 5px;
    padding: 5 5 5 5 ;
   
}
header span a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
header ul li a {
    color: rgb(246, 246, 248);
    text-decoration: none;
}
main{
    text-align: center;
    
}
main p{
    padding-top: 280px;
    font-size: 70px;
    color :black
}
main h1{
    padding-top: 50px;
    font-size: 30px;
    color :black
}